
body {
  font-family: 'MyFont', sans-serif;
}


.fade-in {
  animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.slide-up {
  animation: slideUp 0.8s ease-out both;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.aos-animate {
  animation: zoomIn 3s ease-in-out both;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



.slide-right {
  animation: slideRight 0.9s ease-out forwards;
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.rotate-in {
  animation: rotateIn 0.7s ease-out forwards;
}
@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(-10deg) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}


.zoom-out {
  animation: zoomOut 3s ease-in-out both;
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}