
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&family=Quicksand:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&display=swap');


@font-face {
    font-family: 'Glaive';
    src: url('./assets/fonts/Glaive Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GlaiveOrnaments';
    src: url('./assets/fonts/Glaive Ornaments.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.glaive-font {
    font-family: 'Glaive', 'Times New Roman', serif !important;
}

.bebas-font {
    font-family: 'Bebas Neue', cursive !important;
}

.quicksand-font {
    font-family: 'Quicksand', sans-serif !important;
}

.rajdhani-font {
    font-family: 'Rajdhani', sans-serif !important;
}


.test-glaive {
    font-family: 'Glaive', 'Times New Roman', serif !important;
    font-size: 24px !important;
    color: red !important;
}